@using QA.UI.Services;
@typeparam T
@inject DragAndDropService DragAndDropService

<div draggable="true" @ondragstart="@OnDragStart">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public int Zone { get; set; }

    [Parameter]
    public T Data { get; set; }

    void OnDragStart()
    {
        DragAndDropService.StartDrag(Data, Zone);
    }
}


@* @using QA.UI.Services;
@typeparam T
@inject DragAndDropService DragAndDropService

<div draggable="true" @ondragstart="@OnDragStart">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public int Zone { get; set; }

    [Parameter]
    public T Data { get; set; }

    void OnDragStart()
    {
        DragAndDropService.StartDrag(Data, Zone);
    }
}
 *@
