.operation-section[b-phrxn7vz2h] {
    border: 2px solid #ccc;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
}

.empty-operation[b-phrxn7vz2h] {
    border: 2px solid #ccc;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.grid-container[b-phrxn7vz2h] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item[b-phrxn7vz2h] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

h5[b-phrxn7vz2h] {
    text-align: center;
    font-weight: bold;
}

.report-order-table[b-phrxn7vz2h] {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ccc;
    margin: 0 auto;
    width:auto;
}
    .report-order-table th[b-phrxn7vz2h], td[b-phrxn7vz2h] {
        border: 1px solid #ccc;
    }

.report[b-phrxn7vz2h] {
    justify-content: center;
    align-items: center;
    text-align:center;
}

@media print {
    .report[b-phrxn7vz2h] {
        /*margin: 30px;*/
        /*transform: scale(0.72);*/
        transform-origin: top left;
        width: 100%;
        /*margin: 0 auto;*/
    }

    .report-order-table[b-phrxn7vz2h] {
        margin-top: 30px;
    }

    .newpage-onprint[b-phrxn7vz2h] {
        margin-top:40px;
        page-break-before: always;
    }

    .operation-section[b-phrxn7vz2h] {
        margin-top: 30px;
        page-break-after: always;
        page-break-inside: avoid;
    }

    .grid-item[b-phrxn7vz2h] {
        page-break-inside: avoid;
        margin-top: 20px;
    }
}
