<div class="info" style=" white-space: pre-line; font-family: sans-serif;">
    Instrukcja
    1. Zadeklaruj maksymalną ilość danego produktu na jednej tacy.
    2. Zadeklaruj liczbę tac dla każdego produktu.
    3. Zadeklaruj wysokość przekładki dystansowej dla każdego produktu.
    4. Zadeklaruj liczbę stosów.
    5. Rozmieść tace.
    6. W razie potrzeby zmodyfikuj liczbę tac dla poszczególnych zleceń oraz liczbę stosów, następnie przekształć wsad.
    7. Popraw ilości produktów na poszczególnych tacach.
    8. W razie konieczności dokonaj korekty położenia pojedynczych tac.

    Zasady układania wsadu
    1. Wszystkie małe produkty do 3g i próby układamy na środkowych stosach (stos 2,3,6,7).
    2. Próby proszku (TRS), stosy środkowe (2,3,6,7), najlepiej w środku pomiędzy innymi produktami.
    3. Wypraski o największej wadze w miarę możliwości stosy zewnętrzne.
    4. Taca pierwsza i ostatnia na stosie zawsze pusta.
    5. Wszystkie stosy układamy mniej więcej na tą samą wysokość. Jeśli nie mamy odpowiedniej ilości produktów umieszczamy złom, lub puste tace.
    6. W przypadku małego wsadu(do 120kg) układanie rozpoczynamy od środkowych stosów a zewnętrzne uzupełniamy złomem lub pustymi tacami.
    7. Dystanse na tackach: Wysokość wypraski + 1mm.
    8. Maksymalna wysokość stosów 43,5 cm.
    9. W przypadku małego wsadu każdy stos należy pokryć pięcioma tacami zawierającymi złom.

    Etapy automatyczneo rozmieszczania
    1. Umieszczenie produktów na tackach zgodnie z zadeklarowaną ilością na tacy i ilością tac.
    2. Posortowanie tac wg wagi.
    3. Obliczenie średniej wysokości stosu na podstawie zadeklarowanej ilości stosów oraz wysokości przekładek, z uwzględnieniem pustych tac na dole i na górze stosu.
    4. Wyodrębnienie tac z próbami i TRS.
    5. Rozmieszczanie tac do osiągnięcia średniej wysokości w kolejności stosów:
    |7|1|3|5|
    |8|2|4|6|
    6. Jeśli zadeklarowana ilość stosów jest większa niż 3, próby zostaną umieszczone na stosie nr.4, jeśli inaczej na stosie nr.1.
    7. Umieszczenie pustych tac na dole i górze stosu.
    8. Rozmieszczenie próbek master.
    9. Puste stosy zostaną uzupełnione tackami ze złomem.
    10. W przypadku wsadu poniżej 120 kg każdy stos zostanie dodatkowo pokryty tackami ze złomem.
</div>
<style>

    .info {
        flex: 1;
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
        min-width: 400px;
    }
</style>