
.table-bordered {
    border-collapse: collapse;
    width: 100%;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #ccc;
    /*padding: 4px;*/
    text-align: center;
}

.table-header-vertical {
    text-align: center;
    /*padding: 4px;*/
}

.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.date-part {
    font-weight: bold;
    font-size: 0.9em;
    padding: 2px;
}

.time-part {
    font-size: 0.8em;
    color: #555;
    padding: 2px;
    margin-top: 2px;
}
